@model Congreso_1.ViewModels.CreateWebinar

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Webinar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*Agregar tema del webinar*@
            @Html.LabelFor(model => model.WebinarTheme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebinarTheme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebinarTheme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Agregar fecha de inicio del webinar*@
            @Html.LabelFor(model => model.WebinarInitialDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebinarInitialDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebinarInitialDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Agregar fecha final del webinar*@
            @Html.LabelFor(model => model.WebinarEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebinarEndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebinarEndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Definir si el webinar esta disponible*@
            @Html.LabelFor(model => model.available, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.available, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.available, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Definir a que congreso pertenece el webinar*@
            @Html.LabelFor(model => model.congressId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.congressId, new SelectList(Model.congressList, "CongressId", "CongressName"), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.available, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
